* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 17rem;
    height: 8rem;
    border-radius: 25rem;
    border: 4px solid rgb(132, 132, 132);
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: Itim;
    cursor: pointer;
}
.start-page:hover{
    width: 18rem;
    height: 9rem;
    box-shadow: inset 0 0 8rem 2rem rgb(132, 132, 132);
}

.gameTable {
    width: 60rem;
    height: 60rem;
    display: none;
    flex-wrap: wrap;
    position: relative;
    /*opacity: 0.1;*/
}

.tryAgain-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30rem;
    height: 30rem;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid rgb(132, 132, 132);
    z-index: 1;
    display: none;/*FLEX*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tryAgain-page p{
    font-size: 4rem;
    font-family: Itim,cursive;
}
.tryAgain-page button{
    width: 10rem;
    height: 10rem;
    font-size: 5.5rem;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.tryAgain-page button:active{
    box-shadow: inset 0 0 8rem 0.5rem rgb(132, 132, 132);
}

.gameTable>div:not(.winStick) {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.winStick{
    display: none;
    position: absolute;
    right: 5rem;
    top: 10rem;
    width: 50rem;
    height: 0.7rem;
    background-color: black;
    /*
    right: 9.5rem;
    top: 5rem;

    right: 29.5rem;
    top: 5rem;

    right: 49.5rem;
    top: 5rem;
    width: 0.7rem;
    height: 50rem;


    right: 29rem;
    top: 0rem;
    transform: rotate(45deg);
    width: 0.7rem;
    height: 60rem;

    right: 29rem;
    top: 0rem;
    transform: rotate(135deg);
    width: 0.7rem;
    height: 60rem;

    right: 5rem;
    top: 50rem;
    width: 50rem;
    height: 0.7rem;
    
    right: 5rem;
    top: 30rem;
    width: 50rem;
    height: 0.7rem;

    right: 5rem;
    top: 10rem;
    width: 50rem;
    height: 0.7rem;
    */
}

.box2,
.box5,
.box8 {
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.box4,
.box5,
.box6 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}